@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

html {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    font-weight: 700;
  }
  
  body {
    height: 100%;
    min-height: 35rem;
    position: relative;
        font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .overlay {
    position: absolute;
    height: 100%;
    min-height: 35rem;
    width: 100%;
    background-color: #2E1E4B;
    opacity: 0.75;
    z-index: -1;
  }
  
  @media (min-width: 768px) {
    .overlay {
      min-height: 0;
    }
  }
  
  .masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 3rem;
  }
  
  .masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 35rem;
    height: 100%;

    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    transform: skewY(4deg);
    transform-origin: bottom right;
  }
  
  .masthead .masthead-content h1 {
    font-size: 2.5rem;
  }
  
  .masthead .masthead-content p {
    font-size: 1.2rem;
  }
  
  .masthead .masthead-content p strong {
    font-weight: 700;
  }
  
  .masthead .masthead-content .input-group-newsletter input {
    font-size: 1rem;
    padding: 1rem;
    border:none;
  }
  
  .masthead .masthead-content .input-group-newsletter button {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    border:none;
  }
  
  @media (min-width: 768px) {
    .masthead {
      height: 100%;
      min-height: 0;
      width: 50rem;
      padding-bottom: 0;
    }
    .masthead .masthead-bg {
      min-height: 0;
      transform: skewX(-20deg);
      transform-origin: top right;
    }
    .masthead .masthead-content {
      padding-left: 3rem;
      padding-right: 10rem;
    }
    .masthead .masthead-content h1 {
      font-size: 3.5rem;
    }
    .masthead .masthead-content p {
      font-size: 1.3rem;
    }
  }
  
  .social-icons {
    position: absolute;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .social-icons ul {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  
  .social-icons ul > li {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
  }
  
  .social-icons ul > li > a {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-radius: 100%;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  
  @media (min-width: 768px) {
    .social-icons {
      margin: 0;
      position: absolute;
      right: 2.5rem;
      bottom: 2rem;
      width: auto;
    }
    .social-icons ul {
      margin-top: 0;
      width: auto;
    }
    .social-icons ul > li {
      display: block;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2rem;
    }
    .social-icons ul > li:last-child {
      margin-bottom: 0;
    }
    .social-icons ul > li > a {
      transition: all 0.2s ease-in-out;
      font-size: 2rem;
      line-height: 4rem;
      height: 4rem;
      width: 4rem;
    }
    .social-icons ul > li > a:hover {
      background-color: #2E1E4B;
    }
  }
  
  .btn-secondary {
    background: #29323c; 

  }
  
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background: #29323c; 
  }
  
  .input {
    font-weight: 300 !important;
  }

  .social-nav {
    position: relative;
    z-index: 100;
    display: inline-block;
    margin-top: 30px;
    opacity: 1;
    z-index: 8888;
}

  .social-nav.social-footer {
    position: absolute;
    bottom: 32px;
    left: 36px;
    transition: all 0.6s ease;
}
.copy-footer {
    font-size: 12px;
    color:#fff;
    position: absolute;
    bottom: 32px;
    left: 36px;
    transition: all 0.6s ease;
    opacity: 0;
}
.social-nav ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px 0;
    text-align: center;
    transition: all .3s cubic-bezier(0, 0, 0.58, 1);
}
  .social-nav ul li a {
    font-size: .9em;
    line-height: 35px !important;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    text-align: center;
    color: #fff;
    transition: all .3s cubic-bezier(0, 0, 0.58, 1);
}
.social-nav ul li a:before{
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid #fff;
    background: transparent;
    border-radius: 2px;
    transition: all .3s cubic-bezier(0, 0, 0.58, 1);
    transform: rotate(45deg);
}

.social-nav ul li a:hover {
    color: #e70ebe;
}
.social-nav ul li a:hover:before {
    border: 1px solid #e70ebe;
    background: transparent;
    transform: rotate(135deg);
}
.input-group-append .btn, 
.input-group-prepend .btn {
  right: -1px;
}
